/stow/.config/bottom
/stow/.config/gh
/stow/.config/lazydocker
/stow/.config/lazygit
/stow/.config/wslu
/stow/.config/zellij
/stow/.config/.wrangler

/stow/comfyui/storage/*
!/stow/comfyui/storage/.gitkeep
